<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Booklist</title>
</head>
<body>
<h1>Books</h1>
<table class="table table-striped">
<tr>
<td>Author</td>
<td>Title</td>
<td>ISBN</td>
<td>Year</td>
</tr>
<tr th:each = "Book : ${books}">
<td th:text="${Book.author}"></td>
<td th:text="${Book.title}"></td>
<td th:text ="${Book.ISBN}"></td>
<td th:text ="${Book.year}"></td>
<td><a th:href="@{/delete/{id}(id=${Book.id})}" class="btn btn-danger">Delete</a></td>
</tr>
</table>
<a href ="/add" class="btn btn-success">Add Book</a>
</body>
</html>